*~

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Terragrunt cache dirs
**/.terragrunt-cache/*

# Emacs
*~

# Python and Jupyter
**/env
.ipynb_checkpoints
*.pyc

# tmp function zip files
/terraform/tmp/*
